.my-custom-theme {
  --rp-ui-kit-font-family-base: OpenSans, Segoe UI, Tahoma, sans-serif;
  --rp-ui-kit-color-primary: green;
  --rp-ui-kit-color-primary-hover: #69e569;
  --rp-ui-kit-color-primary-focused: var(--rp-ui-kit-color-primary-hover);
  --rp-ui-kit-color-primary-pressed: var(--rp-ui-kit-color-primary-hover);
}

.Custom-theme {
  border: 2px solid white;
  padding: 5px;
  margin: 5px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
